
chromadb
langchain-huggingface
sentence-transformers
streamlit-lottie
requests
streamlit==1.33.0
langchain==1.0.3
langchain-community==0.4.1
langchain-openai==1.0.1
langchain-ollama==1.0.0
faiss-cpu==1.12.0

